
 
{% load declarations %}



<!DOCTYPE html>







<html>
<head>
    <meta charset="UTF-8">
    <title>{{object.name}}</title>

     
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic">
        <link href="http://declarator.org/static/css/base.css" type="text/css" rel="stylesheet" />
        <link href="http://declarator.org/static/css/common.css" type="text/css" rel="stylesheet" />
        <link href="http://declarator.org/static/css/formup.css" type="text/css" rel="stylesheet" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
    

     
        <script
          src="https://code.jquery.com/jquery-1.8.3.min.js"
          integrity="sha256-YcbK69I5IXQftf/mYD8WY0/KmEDCv1asggHpJk1trM8="
          crossorigin="anonymous"></script>
        
        <script type="text/javascript" src="http://declarator.org/static/js/jquery.form.js"></script>
        <script type="text/javascript" src="http://declarator.org/static/js/all.js"></script>
        <script type="text/javascript" src="http://declarator.org/static/js/popups.js"></script>
    

    <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />
    
    <script type="text/javascript" src="http://declarator.org/static/js/office.js"></script>
    <script type="text/javascript" src="http://declarator.org/static/js/jquery.query-object.js"></script>

    
    <link href="http://declarator.org/static/css/pages/office.css" type="text/css" rel="stylesheet"/>
    <link href="http://declarator.org/static/css/pages/document.css" type="text/css" rel="stylesheet"/>
    <link href="http://declarator.org/static/css/pages/archive.css" type="text/css" rel="stylesheet"/>
    <link href="http://declarator.org/static/css/pages/structure.css" type="text/css" rel="stylesheet"/>

    
      
</head>
<body>


    <div class="header">
      <div class="content">
        <div class="title">
          <a href="/"><img src="/static/img/main/declarator-logo.png"></a>
        </div>
        <ul class="main_menu">
          <li class="element"><a class="soft" href="/about/">О проекте</a>
          </li><li class="element"><a class="soft" href="/how_to_help/">Как помочь?</a>
          </li><li class="element"><a class="soft" href="/add_declaration/">Добавить декларацию</a>
          </li><li class="element">
<form class="lang_switcher" action="/change_lang/" method="POST">
    <input type="hidden" name="language" value="en" />
    <input type="hidden" name="next" value="" />
    <button class="lang_switcher soft"><img src="/static/img/lang/ru30.png"></button>
</form>
</li>
        </ul>
        <div class="auth">
          <!-- img src="/static/img/main/key.png" -->
          
            <div id="user-panel" class="auth_block">
              <a rel="nofollow" class="soft" href="/accounts/login/?next=/office/589">
                Войти
              </a>
            </div>
            <div class="auth_block">
              <a rel="nofollow" class="soft" href="/accounts/reset-password/">Напомнить пароль</a>
            </div>
          
        </div>
      </div>
    </div>




  <div class="page_body">


    
    <div class="office_header">
      <h1 class="activetext">
       {{object.name}}
        
      </h1>

      
        <div class="office_links">
          

          

          
        </div>
      
    </div>

    

        
          <div class="office_menu">
  <ul class="first_level">
    
        <li class="element_tab element active">
          <div class="container">

            <a id="menu-structure" class="soft js-office-menu" href="/office/589?active-tab=structure"
               target-tab="structure"
              
                  ajax-load="false"
              
            >
              Структура
            </a>
          </div>
        </li>
  
  </ul>
</div>
<div class="clear"></div>

        


      

        
          <div id="office_content">
            
              <div id="structure" class="js-active-tab">
                
                  

<table class="suboffices" id="structure">

    
      <tr class="header">
        <th></th>

        {% for year in years %}
        
          <th class="year">{{ year }}</th>
        
        {% endfor %}
        
        <th class="rightmargin"></th>
      </tr>
      <tr class="suboffice">
        <td></td>

        {% for year in years %}
        
          <td class="year_stat spacer"></td>
        
        {% endfor %}
        
        
        <td class="rightmargin"></td>
      </tr>
    
      {% for office in offices %}
    
      <tr class="suboffice">
        <!--<td class="office_region"></td>-->
        <th>
          
          
            <a href="{{office.get_absolute_url}}">{{office.name}}</a>
          
        </th>

        {% for status in table|lookup:office.id  %}
        
          <td class="year_stat">


          {% if status == 'all' %}  
                  <img src="http://declarator.org/static/img/office/circle_filled.png">
          {% elif status == 'some' %}
                  <img src="http://declarator.org/static/img/office/circle_halffilled.png">
          {% elif status == 'blank' %}
                  <img src="http://declarator.org/static/img/office/circle_blank.png"> 
          {% endif %}      
              
            
          </td>

          {% endfor %}
        
         
        
        <td class="rightmargin"></td>
      </tr>
    
{% endfor %}
    
  
</table>

<div class="office_page_endline"></div>
                
              </div>
            

            <div class="progress-bar-container no-display" id="progress_bar">
              <div class="progress-bar" role="progressbar">
                <span class="fa fa-cog fa-slow-spin progress_gear"></span>
                <span class="fa fa-cog fa-slow-spin fa-spin-reverse progress_gear" id="bottom_gear"></span>
              </div>
            </div>
          </div>
        

  </div>
  <div class="frame_view_file">
    
  </div>


<div class="footer">
  <div class="content">
    <div class="ti">
      <a href="http://www.transparency.org.ru/">
          <img class="ti-logo" src="/static/img/main/ti-logo.png">
      </a>
    </div>
    <div class="decl-copyright">
      <p>&copy; 2011&mdash;2017</p>
      <p>
          <p><a href="http://www.transparency.org.ru/" target="_blank">Трансперенси Интернешнл &mdash; Россия</a>, <a href="/about/partners/">партнеры</a> и друзья</p>

      </p>
      <p>
        По всем вопросам: mail@declarator.org
      </p>
    </div>

    <div class="social">
      <a class="button fb-button" href="https://www.facebook.com/declarator"></a>
      <a class="button twi-button" href="https://twitter.com/Declarator_org"></a>
    </div>
    <div class="disclaimer">
      <p>Сведения, представленные на сайте, собраны из открытых<br />
источников и <a href="http://declarator.org/about/disclaimer/">носят справочный характер</a>.</p>

<p><a href="http://transparency.org.ru/donate">Поддержите</a> развитие&nbsp;Декларатора.</p>

    </div>
  </div>
</div>


</body>
</html>
